/*
 * Globals
 */

#content{width:100%;}
.part{width:100%; margin:0;}
.part > div { margin: 0 auto; padding:100px 0;}
#about{background-color:#FA9C86;margin-top: 50px}
#bio{background-color:#3289AD}
#picture1{background-image: url(images/jello.jpg); height: 686px;}
#music{background-color:#35B57A}
#picture2{background-image: url(images/drink.jpg); height: 686px;}

#matthew{background-color:#EC5A9B}
.face{width: 40%; height: 100%; maring:0 50px}
.face img{width:220px;float:right;}

.text{width: 50%; width: calc(60% -20px);margin-top: 40px; text-align: left; margin-left: 10%; margin-left: calc(20px)}

.left{float:left;}
.clear { clear: both; display: block; float: none !important; font-size: 0; height: 0; line-height: 0; text-indent: -4000px; }

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}


/*---------------------------------------
            Responsive Stuff
 ----------------------------------------*/


/* Up to Mobile Landscape Size */
@media only screen and (max-width: 479px ){
	.width{width:100%;}
}

/* Upwards of Mobile Landscape Size  */
@media only screen and (min-width: 480px) and (max-width: 649px) {
    .width {width:460px;}
    
}
		
/* Beyond All Mobile Sizes, Tablet Portrait etc. */
@media only screen and (min-width: 650px) and (max-width: 979px) {
    .width {width:630px;}
}
	
/* Beyond standard 980 */
@media only screen and (min-width: 980px) and (max-width: 1419px) {
	.width {width:960px;}
}
			
/* go on then, one last query.. */
@media only screen and (min-width: 1420px) {
	.width {width:1220px;}
}